<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Analysis</title>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@405&family=Space+Grotesk:wght@428&display=swap" rel="stylesheet">
</head>

<iframe src="https://www.youtube.com/embed/8zBAw3_AXe8" width="1200" height="800" title="8K HDR IMAX | Batpod (The Dark Knight) | Dolby 5.1" frameborder="0" allowfullscreen></iframe>